/* ::-webkit-scrollbar {
    background: transparent !important;
} */

/* html[wwebkitScrollBar='hide']::-webkit-scrollbar {
    width: 0 !important;
} */
html[wwebkitScrollBar='hide'] {
    scrollbar-width: none !important;
    scrollbar-color: red transparent !important;
}
/* ::-webkit-scrollbar-thumb {
    background: red !important;
} */

html {
    scroll-behavior: auto !important;
}

a,
a *,
button {
    user-select: text !important;
    -webkit-user-drag: none !important;
}

a:visited {
    color: #aaa !important;
}


img {
    object-fit: contain !important;
}
video {
    object-fit: contain !important;
    touch-action:none !important;
}
/* video:not([controls])::-webkit-media-controls {
    display: none !important;
} */

/* video[controls77]::-webkit-media-controls {
    display: flex !important;
}

video:not([controls77])::-webkit-media-controls,
video::-webkit-media-controls-overlay-play-button {
    display: none !important;
} */
video::-webkit-media-controls-overlay-play-button {
    display: none !important;
}
video:fullscreen[controls]:not(#_rt4j6w):not(#_rt4j6w)::-webkit-media-controls,
  video:fullscreen[controls]:not(#_rt4j6w):not(#_rt4j6w)::-webkit-media-controls-enclosure,
  video:fullscreen[controls]:not(#_rt4j6w):not(#_rt4j6w)::-webkit-media-controls-panel {
      display: flex !important;
  }
video:fullscreen:not([controls]):not(#_rt4j6w):not(#_rt4j6w)::-webkit-media-controls,
  video:fullscreen:not([controls]):not(#_rt4j6w):not(#_rt4j6w)::-webkit-media-controls-enclosure,
  video:fullscreen:not([controls]):not(#_rt4j6w):not(#_rt4j6w)::-webkit-media-controls-panel {
      display: none !important;
  }
/*@media (resolution: 326.4dpi) {*/
  
  
  video::-webkit-media-controls-panel {
      background-image: none !important;
      background-size: auto auto !important;
      transition-property: none !important;
      transition-duration: 0s !important;
  }
  
  /* 没有权限修改background为transparent */
  /* -internal-media-controls-segmented-track */
  video::-webkit-media-controls-timeline {
      /*opacity: 0 !important;
      padding: 0 !important;*/
      /* height: 12px !important; */
      /*background-color: blue !important;*/
      cursor: move !important;
  }
  
  /*video::-webkit-media-controls-timeline:hover {
      opacity: 1 !important;
  }*/
/*}*/


#vcdialog {
    background-color: transparent !important;
    margin: 0 !important;
    border: none !important;
    padding: 0 !important;
}

#vcdialog::backdrop {
    background: rgba(0, 0, 0, 0) !important;
}

.vcdialogX1::backdrop {
    cursor: text !important;
}

.vcdialogX2::backdrop {
    cursor: crosshair !important;
}

#vcdiv1 {
    display: none;
    position: fixed;
    left: 0px;
    bottom: 4px;
    width: 8px;
    height: 16px;
    background-color: blue;
    pointer-events: none;
}

#vcdiv2 {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100vw;
    height: 20px;
}

.vbufDIV {
    position: fixed;
    bottom: 0px;
    height: 4px;
    background-color: red;
    pointer-events: none;
}

/* video:fullscreen::-webkit-media-controls-panel {
    display: none !important;
} */

#___________img_wrap {
    overflow-x: hidden;
    background-color: black;
    text-align: center;
}

#___________img_wrap>img:first-child {
    border-radius: 50% 50% 0 0 !important;
}

#___________img_wrap>img:last-child {
    border-radius: 0 0 50% 50% !important;
}

@media (orientation: landscape) {
    #___________img_wrap>img {
        object-fit: contain !important;
        display: block !important;
        margin: auto !important;
        width: auto !important;
        height: 100vh !important;
        float: none !important;
        border: none !important;
        max-width: none !important;
        max-height: none !important;
    }
}

@media (orientation: portrait) {
    #___________img_wrap>img {
        object-fit: contain !important;
        display: block !important;
        margin: auto !important;
        width: 100vw !important;
        height: auto !important;
        float: none !important;
        border: none !important;
        max-width: none !important;
        max-height: none !important;
    }
}

#___________zoom_img {
    position: fixed;
    pointer-events: none;
    object-fit: contain !important;
    /* display: block !important; */
    /* margin: auto !important; */
    /* width: auto !important; */
    height: auto !important;
    /* float: none !important; */
    /* border: none !important; */
    max-width: none !important;
    /* max-height: none !important; */
}

#___________video_wrap {
    overflow-x: hidden;
    background-color: black !important;
    text-align: center;
}

#___________video_wrap>video {
    display: block !important;
    width: auto !important;
    height: 100vh !important;
    max-width: none !important;
    max-height: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

#___________video_wrap>video:last-child {
    border-radius: 64px !important;
}

.___________ctroV_info {
    position: fixed !important;
    left: 0px !important;
    top: 0px !important;
    color: red;
}

#___________scroll_bar {
    position: fixed !important;
    right: 0px !important;
    width: 17px;
    background-color: red;
    color: red;
    pointer-events: none;
}

.___________RotateYAnimation {
    animation-duration: 1500ms;
    animation-timing-function: steps(2, jump-none);
    animation-name: ___________RotateY;
    animation-iteration-count: infinite;
}

@keyframes ___________RotateY {
    from {
        transform: rotateY(180deg);
    }

    to {
        transform: rotateY(0deg);
    }
}

.___________Brightness01Animation {
    animation-duration: 1500ms;
    animation-timing-function: steps(2, jump-none);
    animation-name: ___________Brightness01;
    animation-iteration-count: infinite;
}

@keyframes ___________Brightness01 {
    from {
        filter: brightness(0);
    }

    to {
        filter: brightness(1);
    }
}

.___________Brightness051Animation {
    animation-duration: 1500ms;
    animation-timing-function: steps(2, jump-none);
    animation-name: ___________Brightness051;
    animation-iteration-count: infinite;
}

@keyframes ___________Brightness051 {
    from {
        filter: brightness(0.5);
    }

    to {
        filter: brightness(1);
    }
}

.plyr__poster {
    pointer-events: none !important;
}

/* body :not(img, video, iframe, :has(img, video, iframe)) {
    filter: brightness(0.8) !important;
} */

* {
    border-radius: 0 !important;
}
